/*design insp: https://www.shopgarden.com.br/
https://www.ideiaverdepaisagismo.com.br/blog/
https://floranativa.arq.br/blog/page/4/
*/
body{
    margin: 0;
}
#topo{
    background-color:rgb(167, 255, 188);
   /* padding: 15px;*/
   
}

